.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    padding-left: 192px;
    padding-right: 192px;
    height: 72px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
